{% extends 'base/base.html' %}
{% load i18n %}
{% load bsform %}

{% block window_title %}{% trans 'Change password' %}{% endblock %}

{% block content %}
{% include 'registration/menu.html' with active_tab='change_password' %}
<h2>{% trans 'Change password' %}</h2>

<form method="post" action="">
{% csrf_token %}

<div class="form-group{% bserrorclass form.old_password %}">
{% bslabel form.old_password %}{{ form.old_password.label }}{% endbslabel %}
{{ form.old_password|bsfield:"mw-xs" }}
{% bserrors form.old_password %}
</div>
<div class="form-group{% bserrorclass form.new_password1 %}">
    {% bslabel form.new_password1 %}{{ form.new_password1.label }}{% endbslabel %}
    {{ form.new_password1|bsfield:"mw-xs" }}
    {% bserrors form.new_password1 %}
</div>
<div class="form-group{% bserrorclass form.new_password2 %}">
    {% bslabel form.new_password2 %}{{ form.new_password2.label }}{% endbslabel %}
    {{ form.new_password2|bsfield:"mw-xs" }}
    {% bserrors form.new_password2 %}
</div>
<p>
    <button class="btn btn-primary">
        <i class="fa fa-lock" aria-hidden="true"></i> {% trans 'Change password' %}
    </button>
</p>

</form>
{% endblock %}
