{% extends 'base/base.html' %}
{% load static %}

{% block window_title %}Summary{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'survey:summary-list' checklist.id %}"
        class="btn btn-default">❮ Summary</a>
</nav>
<h2>Compare {{ site.name }}</h2>

{% regroup answers by full_label as label_list %}

<div class="panel-group">
 {% for label in label_list %}
  <div class="panel panel-default">
      <div class="panel-heading">{{ label.grouper }}</div>
      <table id="{{ label.grouper }}-table" class="table">
     <thead>
      <tr>
         <th class="col-md-6">Answer</th>
         <th class="col-md-3">Tester</th>
         <th class="col-md-3">Flags</th>
      </tr>
     </thead>
     <tbody>
     {% for ans in label.list|dictsort:"evaluation.tester.username" %}
      <tr class="answer">
          <td class="value">{{ ans.value }}</td>
          <td class="tester">{{ ans.evaluation.tester }}</td>
          <td>
         {% if ans.discussion_needed %}<span class="label label-warning">Discussion</span>&nbsp;{% endif %}
         {% if ans.revision_needed %}<span class="label label-info">Revision</span>&nbsp;{% endif %}
         {% if ans.note %}
         <span class="label label-info" data-toggle="popover" title="Notes"
             data-content="{{ ans.note }}">Notes</span>
         {% endif %}
        </td>
      </tr>
     {% endfor %}
     </tbody>
    </table>
    </div>
 {% endfor %}
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'survey/js/compare.js' %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}
