{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block window_title %}Eval {{ evaluation.site.name }}{% endblock %}
{% block title %}Evaluation of {{ evaluation.site.name }}{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'survey:site_overview' evaluation.checklist.id %}"
        class="btn btn-default">❮ Overview</a>
</nav>
<h2>Evaluation of <a href="https://{{ evaluation.site.name }}" class="eval-site-name">{{ evaluation.site.name }}</a></h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="col-md-9">
<form id="eval-form" action="{% url 'survey:evaluate' evaluation.checklist.id evaluation.site.id %}" method="post">
{% csrf_token %}
<div class="panel panel-default general-notes">
  <div class="panel-heading">General Notes</div>
  <div class="panel-body">{{ eval_form|crispy }}</div>
</div>

{% for cat, formlist in forms %}
<div id="cat-{{ cat }}">
  <h3>{{ cat }}</h3>
{% for ans, form in formlist %}
<div id="{{ ans.get_full_label }}" class="panel panel-primary answer{% if ans.parent %} subq child-of-{{ ans.get_parent_label }}{% endif %}">
    <div class="panel-heading">
      <div class="pull-right">
        {% if ans.parent %}
          <a href="#{{ ans.get_parent_label }}" class="panel-title" title="to parent"><i class="fa fa-level-up" aria-hidden="true"></i></a>
        {% endif %}
      </div>
      <h3 class="panel-title">{{ ans.get_full_label }}
        <a class="headerlink" href="#{{ ans.get_full_label }}" title="Permalink to this question">¶</a>
        {% if ans.is_outdated %}<span class="label label-warning">Changed</span>{% endif %}
      </h3>
    </div>
    <div class="panel-body">
    <p>
    <span class="question-text">{{ ans.question.question_text }}</span>
    {% if ans.question.comment %}
        &nbsp;<a href="#{{ ans.get_full_label }}-comment" data-toggle="collapse">more...</a>
    </p>
    <p id="{{ ans.get_full_label }}-comment" class="collapse">
      Note: {{ ans.question.comment }}
    {% endif %}
    </p>

    <div class="form-group">
        {{ form.value|as_crispy_field }}
        <a href="#{{ ans.get_full_label }}-details" data-toggle="collapse">Show notes and flags...</a>
    </div>

    <div id="{{ ans.get_full_label }}-details" class="answer-details collapse">
        <div class="form-group">
        <div class="checkbox-inline">
            <label>{{ form.discussion_needed }}{{ form.discussion_needed.label }}</label>
        </div>
        <div class="checkbox-inline">
            <label>{{ form.revision_needed }}{{ form.revision_needed.label }}</label>
        </div>
        </div>
        {{ form.note.label_tag }}
        {% render_field form.note class+="form-control" %}
        {{ form.negatives }}
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}
<input type="submit" value="Save" class="btn btn-success"/>
</form>
</div>

<div class="col-md-3">
<div class="panel-group affix" style="width: inherit; top: 100px;">
<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">{{ evaluation.site.name }}</h3></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-filter" aria-hidden="true"></i> Filter</div>
  <div class="panel-body">{% crispy filter %}</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-cog" aria-hidden="true"></i> Actions</div>
  <div class="panel-body">
  <input form="eval-form" type="submit" value="Save Evaluation" class="btn btn-default btn-success btn-block"/>
  <div class="dropdown">
    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">Goto Catalog
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for cat, _ in forms %}
        <li><a href="#cat-{{ cat }}">{{ cat }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <button class="btn btn-default btn-block" onclick="$('#eval-form .collapse').collapse('show');">Show all notes</button>
  <button class="btn btn-default btn-block" onclick="$('#eval-form .collapse').collapse('hide');">Hide all notes</button>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-envelope" aria-hidden="true"></i> Messages</div>
  <div id="ajax-messages" class="panel-body">
    None
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'survey/js/survey.js' %}"></script>
{% endblock %}
