{% extends 'base/base.html' %}

{% block window_title %}Sites Overview{% endblock %}

{% block content %}
<h2>Sites Overview</h2>

<form action="{% url 'site_overview' checklist.id %}" method="post">
{% csrf_token %}
{{ cl_form.as_table }}
<input type="submit" value="Ok" />
</form>

{% if site_list %}
    <ul>
    {% for site in site_list %}
    <li><a href="{% url 'evaluate' checklist.id site.id %}">{{ site.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sites are available.</p>
{% endif %}
{% endblock %}
