{% extends 'base/base.html' %}

{% block window_title %}Sites Overview{% endblock %}

{% block content %}
{% include 'survey/menu.html' with active_nav='overview' %}

<h2>Sites Overview</h2>

<form action="{% url 'survey:site_overview' checklist.id %}" method="post"
    class="form-inline">
<div class="form-group">
{{ cl_form }}
</div>
{% csrf_token %}
<input type="submit" value="Ok" class=""/>
</form>

{% if site_list %}
<table class="table table-striped">
 <thead>
  <tr>
     <th class="col-md-6">Site</th>
     <th class="col-md-2">Est. Progress</th>
     <th class="col-md-4">Status</th>
  </tr>
 </thead>
 <tbody>
 {% for site, evaluation in site_list %}
  <tr>
     <td><a href="{% url 'survey:evaluate' checklist.id site.id %}">{{ site.name }}</a></td>
     <td>
       {% include "survey/progress_snippet.html" with eval=evaluation %}
     </td>
     <td>
       {% if evaluation %}<span class="label label-warning">Discussions <span class="badge">{{ evaluation.count_discussions }}</span></span>&nbsp;{% endif %}
       {% if evaluation %}<span class="label label-info">Revisions <span class="badge">{{ evaluation.count_revisions }}</span></span>&nbsp;{% endif %}
        {% with dirty_count=evaluation.count_dirties %}
             {% if dirty_count > 0 %}
                <span class="label label-danger">Dirty <span class="badge">{{ dirty_count }}</span></span>&nbsp;&nbsp;
             {% endif %}
        {% endwith %}
       {% if evaluation and evaluation.finished %}<span class="label label-success">Finished</span>&nbsp;{% endif %}
    </td>
  </tr>
 {% endfor %}
 </tbody>
</table>
{% else %}
<div class="alert alert-info">No sites are available.</div>
{% endif %}
</div>
{% endblock %}
