{% extends 'base/base.html' %}

{% block window_title %}Sites Overview{% endblock %}

{% block content %}
<h2>Sites Overview</h2>

<form action="{% url 'survey:site_overview' checklist.id %}" method="post"
    class="form-inline">
<div class="form-group">
{{ cl_form }}
</div>
{% csrf_token %}
<input type="submit" value="Ok" class=""/>
</form>

{% if site_list %}
<table class="table">
 <thead>
  <tr>
     <th>Site</th>
     <th>Open Discussions</th>
     <th>Open Revisions</th>
     <th>Status</th>
  </tr>
 </thead>
 <tbody>
 {% for site, evaluation in site_list %}
  <tr>
     <td><a href="{% url 'survey:evaluate' checklist.id site.id %}">{{ site.name }}</a></td>
     <td>{% if evaluation %}{{ evaluation.count_discussions }}{% endif %}</td>
     <td>{% if evaluation %}{{ evaluation.count_revisions }}{% endif %}</td>
     <td>{% if evaluation and evaluation.finished %}Done{% endif %}</td>
  </tr>
 {% endfor %}
 </tbody>
</table>
{% else %}
    <p>No sites are available.</p>
{% endif %}
{% endblock %}
