{% extends 'base/base.html' %}

{% block window_title %}Review of {{ eval.site.name }}{% endblock %}

{% block content %}
<div class="container">
<nav>
    <a href="{% url 'survey:summary-list' eval.checklist.id %}"
        class="btn btn-default">❮ Summary</a>
</nav>

<h2>Review of {{ eval.site.name }} by {{ eval.tester.username }}</h2>

<table class="table table-striped">
 <thead>
  <tr>
     <th class="col-md-5">Label</th>
     <th class="col-md-4">Answer</th>
     <th class="col-md-3">Flags</th>
  </tr>
 </thead>
 {% for cat, catlist in eval.answers_ordered_by_label %}
 <tbody id="cat-{{ cat }}">
 {% for ans in catlist %}
  <tr>
      <td>{{ ans.full_label }}</td>
      <td>{{ ans.value }}</td>
      <td>
         {% if ans.discussion_needed %}<span class="label label-warning">Discussion</span>&nbsp;{% endif %}
         {% if ans.revision_needed %}<span class="label label-info">Revision</span>&nbsp;{% endif %}
         {% if ans.dirty %}<span class="label label-danger">Dirty</span>&nbsp;{% endif %}
         {% if ans.note %}
         <span class="label label-info" data-toggle="popover" title="Notes" data-content="{{ ans.note }}">Notes</span>
         {% endif %}
      </td>
  </tr>
 {% endfor %}
 </tbody>
 {% endfor %}
</table>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}
