{% extends 'base/base.html' %}

{% block window_title %}Summary{% endblock %}

{% block content %}
<div class="container">
{% include 'survey/menu.html' with active_nav='summary-by-user' %}

<h2>Summary</h2>

{% if evaluations %}
{% regroup evaluations by tester as tester_list %}

<div class="panel-group">
 {% for tester in tester_list %}
  <div class="panel panel-default">
      <div class="panel-heading">{{ tester.grouper }} <span class="badge">{{ tester.list|length }}</span>
          &nbsp;<a href="{% url 'survey:discuss' checklist.id tester.grouper.id %}" class="btn btn-default btn-sm">Discuss</a>
      </div>
    <table class="table table-hover table-condensed">
     {% for eval in tester.list %}
       {% include "survey/summary_entry_snippet.html" with eval=eval name=eval.site.name %}
     {% endfor %}
    </table>
    </div>
 {% endfor %}
</div>
{% else %}
<div class="alert alert-info">No evaluationssites are available.</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}
