{% extends 'base/base.html' %}

{% block window_title %}Summary{% endblock %}

{% block content %}
<div class="container">
{% if perms.survey.can_review %}
<ul class="nav nav-pills">
  <li><a href="{% url 'survey:site_overview' checklist.id %}">Overview</a></li>
  <li class="active"><a href="{% url 'survey:summary-list' checklist.id %}">Summary</a></li>
</ul>
{% endif %}

<h2>Summary</h2>

{% if evaluations %}
{% regroup evaluations by site as site_list %}

<div class="panel-group">
 {% for site in site_list %}
  <div class="panel panel-default">
  <div class="panel-heading">{{ site.grouper }} <span class="badge">{{ site.list|length }}</span></div>
    <div class="list-group">
     {% for eval in site.list %}
     <a href="{% url 'survey:review' eval.id %}" class="list-group-item">{{ eval.tester }}
     {% if eval.finished %}&nbsp;<span class="label label-success">Finished</span>{% endif %}
     {% if eval.reviewed %}&nbsp;<span class="label label-info">Reviewed</span>{% endif %}
     {% if eval.note %}
     &nbsp;<span class="label label-info" data-toggle="popover" title="Notes" data-content="{{ eval.note }}">Notes</span>
     {% endif %}
     {% with dis_count=eval.count_discussions %}
         {% if dis_count > 0 %}
         &nbsp;<span class="label label-warning">Discussions <span class="badge">{{ dis_count }}</span></span>
         {% endif %}
     {% endwith %}
    </a>
     {% endfor %}
    </div>
    </div>
 {% endfor %}
</div>
{% else %}
<div class="alert alert-info">No evaluationssites are available.</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}
