{% extends 'base/base.html' %}

{% block window_title %}Summary{% endblock %}

{% block content %}
<div class="container">
{% if perms.survey.can_review %}
<ul class="nav nav-pills">
  <li><a href="{% url 'survey:site_overview' checklist.id %}">Overview</a></li>
  <li><a href="{% url 'survey:summary-list' checklist.id %}">Summary</a></li>
  <li class="active"><a href="{% url 'survey:summary-by-user-list' checklist.id %}">Summary by User</a></li>
</ul>
{% endif %}

<h2>Summary</h2>

{% if evaluations %}
{% regroup evaluations by tester as tester_list %}

<div class="panel-group">
 {% for tester in tester_list %}
  <div class="panel panel-default">
  <div class="panel-heading">{{ tester.grouper }} <span class="badge">{{ tester.list|length }}</span></div>
    <table class="table table-hover table-condensed">
     {% for eval in tester.list %}
       {% include "survey/summary_entry_snippet.html" with eval=eval name=eval.site.name %}
     {% endfor %}
    </table>
    </div>
 {% endfor %}
</div>
{% else %}
<div class="alert alert-info">No evaluationssites are available.</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}
