{% extends 'base/base.html' %}
{% load survey_extras %}

{% block window_title %}Summary{% endblock %}

{% block content %}
<div class="container">
{% include 'survey/menu.html' with active_nav='summary' %}

<h2>Summary</h2>

{% if evaluations %}
{% regroup evaluations by site as site_list %}

<div class="panel-group">
 {% for site in site_list %}
  <div class="panel panel-primary">
      <div class="panel-heading">{{ site.grouper }}
          {% if site.list|length > 1 %}
          &nbsp;<a href="{% url 'survey:compare' checklist.id site.grouper.id %}" class="btn btn-default btn-xs" role="button">Compare</a>
          {% endif %}
        <span class="pull-right">
          {% if site.list|length > 1 %}
          <span class="badge"><i class="fa fa-users" aria-hidden="true" title="Inter-rater reliability"></i> {{ site.grouper|calc_irr:checklist|floatformat:2 }}</span>
          {% endif %}
          <span class="badge"><i class="fa fa-hashtag" aria-hidden="true"></i> {{ site.list|length }}</span>
        </span>
      </div>
    <table class="table table-hover">
     {% for eval in site.list %}
       {% include "survey/summary_entry_snippet.html" with eval=eval name=eval.tester %}
     {% endfor %}
    </table>
    </div>
 {% endfor %}
</div>
{% else %}
<div class="alert alert-info">No evaluationssites are available.</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}
