{% extends 'base/base.html' %}

{% block window_title %}Summary{% endblock %}

{% block content %}
<div class="container">
{% if perms.survey.can_review %}
<ul class="nav nav-pills">
  <li><a href="{% url 'survey:site_overview' checklist.id %}">Overview</a></li>
  <li><a href="{% url 'survey:summary-list' checklist.id %}">Summary</a></li>
  <li class="active"><a href="{% url 'survey:summary-by-user-list' checklist.id %}">Summary by User</a></li>
</ul>
{% endif %}

<h2>Summary</h2>

{% if evaluations %}
{% regroup evaluations by tester as tester_list %}

<div class="panel-group">
 {% for tester in tester_list %}
  <div class="panel panel-default">
  <div class="panel-heading">{{ tester.grouper }} <span class="badge">{{ tester.list|length }}</span></div>
    <div class="list-group">
     {% for eval in tester.list %}
     <a href="{% url 'survey:review' eval.id %}" class="list-group-item">{{ eval.site.name }}
     {% if eval.finished %}&nbsp;<span class="label label-success">Finished</span>{% endif %}
     {% if eval.reviewed %}&nbsp;<span class="label label-info">Reviewed</span>{% endif %}
     {% if eval.note %}
     &nbsp;<span class="label label-info" data-toggle="popover" title="Notes"
         data-content="{{ eval.note }}" styles="z-index: 500;">Notes</span>
        {# FIXME: Catch click on Notes to avoid loading review site #}
     {% endif %}
     {% with dis_count=eval.count_discussions %}
         {% if dis_count > 0 %}
         &nbsp;<span class="label label-warning">Discussions <span class="badge">{{ dis_count }}</span></span>
         {% endif %}
     {% endwith %}
    </a>
     {% endfor %}
    </div>
    </div>
 {% endfor %}
</div>
{% else %}
<div class="alert alert-info">No evaluationssites are available.</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock %}
